header{
  padding-top: 15px;
  padding-bottom: 15px;
  transition: ease all 0.5s;
  .logos{
    width: 170px;
    
    a{
      display: block;
      transition: ease all 0.5s;
      width: 100%;
    }
  }
  &.sticky-nav{
    background-color: rgba(0,0,0,0.6);
    .logos{
      a{
        width: 70%;
      }
    }
  }
}
.header-home{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    .navbar-expand-lg .navbar-nav .nav-link{
      text-transform: uppercase;
      color:$white;
      padding-left: 0;
      padding-right: 0;
     &:hover{
      font-weight: bold;
     }
    }
    .nav-item{
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      &.active{
        .nav-link{
          font-weight: bold;
          border-bottom:2px solid $white;
        }
      }
      a.dropdown-item {
        text-transform: uppercase;
        font-size: 13px;
      }
    
    }
  //   .nav-item.dropdown:hover .dropdown-menu {
  //     display: block;
  // }
  .dropdown-submenu {
    position: relative;
}
ul.dropdown-menu.multi-level a.nav-link.active {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 13px;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #B41129;
}

ul.dropdown-menu.multi-level a.nav-link.active:focus,
ul.dropdown-menu.multi-level a.nav-link.active:hover {
  font-weight: 400;
  color: #1e2125;
    background-color: #e9ecef;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.multi-level .dropdown-submenu a {
  text-transform: uppercase;
  font-size: 13px;
  color: #212529;
}

}



.header-right{
  padding-right: 15px;
  padding-left: 15px;
}
.contactus-btn{
  background-color: $primary-color;
  color:$white;
  text-align: center;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  &:hover{
    color:$white;
    background-color: $second-color;
  }
}

.lan{
  color:$white;
  margin-right: 30px;
  a{
    color:$white;
    &.active, &:hover{
      font-weight: bold;
      color:$white;
    }
  }
}
.account{
  margin-left: 8px;
}
.account-btn{
  width: 40px;
  flex:0 0 40px;
  height: 40px;
  background-color: #B41129;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 20px;
  }
}