@media(max-width:1600px){
    .right-circles1:after{
        width: 1000px;
        height: 1000px;
        right: -440px;
    }
    .right-circles1:before{
        width: 908px;
        height: 908px;
        right: -100px;
    }
    .intro-section:before {
       
        width: 480px;
        height: 480px;
        top: 410px;
        right: -370px;
    }
    .our-story-section:before, .spf-section:before{
        width: 908px;
        height: 908px;
        left: -100px;
    }
    .our-story-section:after, .spf-section:after {
        width: 1000px;
        height: 1000px;
        left: -440px;
    }

    .our-story-section:after, .spf-section:after{
        left: -440px;
    }
    .figure10{
        right: -40px;
    }
    .left-circle2:after {
        width: 1000px;
        height: 1000px;
        left: -440px;
    }
    .left-circle2:before {
        width: 908px;
        height: 908px;
        bottom: -770px;
        left: -130px;
    }
    .left-img1{
        display: none;
    }
    .row1:before {
        width: 500px;
        height: 500px;
        right: -420px;
    }
    .lefttop{
        max-width: 530px;
    }
    .rb1 {
        right: 20px;
        max-width: 310px;
    }
    .bd2{
        max-width: 130px;
    }
    .right-circles2:before{
        width: 908px;
        height: 908px;
        right: -100px;
    }
    .right-circles2:after{
        width: 1000px;
        height: 1000px;
        right: -440px;
    }
    .bog-section:before{
        right: -700px;
    }
    .steps-section:before {
        content: '';
        width: 840px;
        height: 840px;
    }
    
}
@media(max-width:1440px){
    header .logos{
        width: 130px;
    }
    
   
    


}

@media(max-width:1366px){
    .event-box .img-box a img {
        height: 385px;
    }
    
    .fs-rounded-img{
        width: 544px;
        height: 544px;
    }
    .class-box .img-box{
        width: 350px;
        height: 350px;
    }
    body.body{
        font-size: 13px;
    }
    .circle-mvv-wrapper .circle-mvv{
        width: 353px;
        height: 353px;
    }
    .circle{
        width: 166px;
        height: 166px;
    }
    .right-circles1:after{
        width: 872px;
        height: 872px;
    }
    .right-circles1:before{
        width: 798px;
        height: 798px;
        top: -670px;
    }


    .spf-section:before, .our-story-section:before{
        width: 798px;
        height: 798px;
        top: -670px;
    }
    .spf-section:after, .our-story-section:after{
        width: 872px;
        height: 872px;
    }
    .figure2 span{
        left: 30px;
    }
    .per-boxes li{
        flex:0 0 350px;
        width: 350px;
        height: 350px;
    }
    .per-boxes li:first-child{
        margin-right: -60px;
    }
    .event-section:before {
        width: 700px;
        height: 700px;
        bottom: -101px;
    }
    .event-section:after {
        width: 1010px;
        height: 1010px;
    }
    .section-btu:after {
        width: 902px;
        height: 902px;
        left: -50px;
        bottom: -680px;
    }
    .section-btu:before {
        width: 961px;
        height: 961px;
    }
    .curriculum-row .col-lg-10{
        width: 66.6666%;
    }
    body.body h2, body.body .h2{
        font-size: 30px;
    }
    .section-btu .btu-list li{
        font-size: 22px;
    }
    .event-box .bottom p, .ih-box .bottom .left{
        font-size: 16px;
    }
    .event-box .bottom a{
        width: 38px;
        height: 38px;
    }
    .ih-box .img-box{
        height: 380px;
    }
    .f-btn {
        width: 230px;
        padding: 14px 40px;
    }

    .bog .item .img-box{
        width: 250px;
        height: 250px;
    }
    .bog .owl-carousel .owl-nav button.owl-next{
        right: -30px;
    }
    .bog .owl-carousel .owl-nav button.owl-prev{
        left: -30px;
    }
    .bog .item h4{
        font-size: 20px;
    }
    .bog-section:before {
        width: 700px;
        height: 700px;
        bottom: -101px;
    }
    .bog-section:after {
        width: 1010px;
        height: 1010px;
    }
    .right-circles2:after {
        width: 872px;
        height: 872px;
    }
    .right-circles2:before {
        width: 798px;
        height: 798px;
        top: -670px;
    }
    .intro-section:before {
        width: 430px;
        height: 430px;
        top: 360px;
        right: -340px;
    }
    .circleimg {
        width: 400px;
        height: 400px;
    }
    .row1:before{
        right: -430px;
    }
    .report-img:before{
        width: 390px;
        height: 390px;
    }
    .left-circle2:after {
        width: 872px;
        height: 872px;
    }
    .left-circle2:before {
       
        width: 808px;
        height: 808px;
        bottom: -620px;
        left: -120px;
    }
    .circleImg2 {
        width: 450px;
        height: 450px;
    }
    .stage-wrapper{
        width: 1100px;
    }
    .person-box{
        width: 250px;
    }
    .rounded-img3{
        width: 250px;
        height: 250px;
    }
    .bog-section:before {
        right: -650px;
    }

}

@media(max-width:1280px){
    header .logos{
        width: 110px;
    }
    header .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 12px;
        padding-right: 0.3rem;
        padding-left: 0.3rem;
    }
    .video-tour-section .over-content{
        width: 1130px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape){
   
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait){
   
}

@media screen and (min-width:1024px) and (max-width:1366px) and (orientation:portrait){
    
}

@media screen and (min-width:1024px) and (max-width:1366px) and (orientation:landscape){
   
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .event-box .img-box a img {
        height: 320px;
    }
}
@media(max-width:1024px){
    .class-box .img-box{
        width: 290px;
        height: 290px;
    }
    .class-box .bottom p{
        font-size: 18px;
    }
    .h4, h4{
        font-size: 20px!important;
    }
    .h5, h5{
        font-size: 16px!important;
    }
    .tr-list li h6{
        font-size: 12px;
    }
    
    .steps-section:before {
        width: 550px;
        height: 550px;
        top: -450px;
        left: -480px;
    }
    .step-accordion .block .head{
        font-size: 17px;
    }
 
    .left-circle2:after{
        left: -370px;
    }
    .left-circle2:before {
        width: 698px;
        height: 698px;
        bottom: -580px;
        left: -120px;
    }
    body.body h2, body.body .h2 {
        font-size: 24px;
        line-height: 36px;
        font-weight: normal;
    }
    .logos{
        max-width: 80px;
    }
    header .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 11px;
    }
    header .navbar-expand-lg .navbar-nav .nav-link {
       
    }
    .header-home .nav-item{
        margin-right: 0.2rem!important;
        margin-left: 0.2rem!important;
    }
    .contactus-btn{
        font-size: 11px;
    }
    .lan{
    font-size: 11px;
    a{
        font-size: 11px;
    }
    }
    .banner-over .h1,
    .banner-over h1{
        font-size: 40px;
    }
    .circle {
        width: 147px;
        height: 147px;
        padding-top: 30px;
    }
    .circle p {
        font-size: 11px;
        line-height: 14px!important;
    }
    .circle .icon{
        margin-bottom: 12px;
    }
    .figure1{
        right: -20px;
    }
    .right-circles1:after {
        width: 762px;
        height: 762px;
    }
    .right-circles1:before {
        width: 718px;
        height: 718px;
        top: -640px;
        right: -140px;
    }
    .circle-mvv-wrapper .circle-mvv {
        width: 303px;
        height: 303px;
    }
    .circle-mvv-wrapper .circle-mvv .over-content h3{
        font-size: 20px;
    }
    .spf-section:after, .our-story-section:after {
        width: 832px;
        height: 832px;
        left: -370px;
    }
    .spf-section:before, .our-story-section:before{
        width: 798px;
        height: 798px;
        top: -670px;
        left: 30px;
    }
    .figure2 {
        left: -10px;
    }
    .per-section{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .per-boxes li {
        flex: 0 0 300px;
        width: 300px;
        height: 300px;
    }
    .per-boxes li .content_ p {
        font-size: 22px;
        line-height: 28px !important;
    }

    .event-box .bottom p{
        font-size: 16px;
    }
    .section-btu .btu-list li{
        font-size: 18px;
    }
    .section-btu:before {
        width: 821px;
        height: 821px;
    }
    .section-btu:after {
        width: 732px;
        height: 732px;
        bottom: -540px;
    }
    .ih-box .img-box{
        height: 320px;
    }
    .ih-box .bottom .left{
        font-size: 16px;
    }
    .v-gap{
        padding-top: 50px;
        padding-bottom: 50px;
    }

   .ia-list li, .ia-list li img{
        height: 60px;
    }
    .bog .item .img-box{
        width: 270px;
        height: 270px;
    }
    .bog .owl-carousel .owl-nav button.owl-next{
        right: -30px;
    }
    .bog .owl-carousel .owl-nav button.owl-prev{
        left: -30px;
    }
    .right-circles2:before {
        width: 718px;
        height: 718px;
        top: -640px;
        right: -140px;
    }
    .right-circles2:after {
        width: 762px;
        height: 762px;
    }
    .intro-section:before {
        width: 430px;
        height: 430px;
        top: 260px;
        right: -270px;
    }
    .bod-section .obd-list-item>.column>.bod-row .inner{
        max-width: 780px;
    }
    .bod-section .obd-list-item>.column>.bod-row .inner>.thumb .img-box{
        width: 310px;
        height: 310px;
    }
    .tm-tabs .nav-tabs .nav-link .tm-box .img-box{
        width: 260px;
        height: 260px;
    }
    .report-img{
        padding: 0 100px;
    }
    .report-img:before {
        width: 310px;
        height: 310px;
    }
    .inner-banner{
        height: 300px;
    }
    .bd2 {
        max-width: 130px;
    }
    .rb1 {
        right: 20px;
        max-width: 220px;
    }
    .lefttop {
        max-width: 400px;
    }
    .fs-rounded-img{
        width: 464px;
        height: 464px;
    }
    .rounded-img2{
        width: 450px;
        height: 450px;
    }
    .person-box{
        width: 210px;
    }
        .rounded-img3{
        width: 210px;
        height: 210px;
    }
    .result-grade-box .right{
        flex:0 0 250px;
        width: 250px;
    }
    .row1:before{
        right: -470px;
    }
    .circleimg{
        width: 370px;
        height: 370px;
    }
    .mot-section:before{
        top: -510px;
    }

    .option-btn {
        
        min-width: 260px;
        padding: 15px 30px;
    }
    .fv-form-wrapper .f-body{
        max-width: 960px;
    }
    .vt-form input[type="text"], .vt-form input[type="email"]{
        padding: 15px 20px;
    }
    .vt-select select{
        padding: 15px 20px;
    }
    .vt-select:before{
        height:48px;
    }
    .vt-select select{
        font-size: 16px;
    }
    .video-tour-section .over-content{
        width: 960px;
    }

    
}

@media(max-width:991px){
    .event-box .img-box a img {
        height: 364px;
    }
    .spf-section:after, .our-story-section:after {
        width: 832px;
        height: 832px;
        left: -160px;
        bottom: -362px;
        top: auto;
        transform: translateY(0px);
    }
    .spf-section:before, .our-story-section:before {
        width: 598px;
        height: 598px;
        top: -540px;
        left: 260px;
    }
    .circleImg2{
        margin: auto;
    }
    .fs-rounded-img{
        margin: auto;
    }
    .fs-event .owl-carousel .owl-nav button.owl-prev{
        left: -30px;
    }
    .fs-event .owl-carousel .owl-nav button.owl-next{
        right: -30px;
    }
    .bd2{
        max-width: 90px;
    }
    .lefttop{
        max-width: 320px;
        img{
            top: -20px;
        }
    }
    .rb1{
        max-width: 210px;
    }
    .class-box .img-box{
        width: 330px;
        height: 330px;
    }
    .step-accordion .block .head:before {
        font-size: 33px;
        line-height: 44px;
    }
    .step-accordion .block .head{
        font-size: 16px;
    }
    .left-img1{
        display: block;
    }
    .adds-box h4{
        font-size: 18px!important;
    }
    .online-app-section{
        .row{
            flex-direction: column-reverse;
        }
    }
    .left-circle2:after{
        top: auto;
        bottom: 0;
        transform:unset;
        width: 742px;
        height: 742px;
    }
    
    .navbar-toggler{
        position: absolute;
        right: 0;
        top: -60px;
    }
    .navbar-toggler:focus{
        box-shadow: none!important;
        outline: none;
    }
    .navbar-collapse{
        position: absolute;
        width: 100%;
        background-color: #000;
        top: 0;
        left: 0;
        padding: 10px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
    .spf-section .row, .section-btu .row, .our-story-section .row{
        flex-direction: column-reverse;
    }
    .right-circles1:after {
        top: auto;
        bottom: -280px;
        right: -110px;
        transform: translateY(0px);
    }
    .section-btu{
        padding-top: 50px;
    }
    .circle-mvv-wrapper {
        justify-content: center;
        flex-wrap: wrap;
        li{
            margin-bottom: 20px;
            margin-right: 15px;
            margin-left: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    header{
        position: relative;
    }
    .header-right{
        position: absolute;
        right: 47px;
        top: 22px;
    }
    .lan{
        margin-right: 13px;
    }
    .contactus-btn {
        padding: 8px 18px;
    }
    .banner-over .h1,
    .banner-over h1 {
        font-size: 30px;
    }
    header.sticky-nav .logos a{
        width: 100%;
    }
    header .navbar{
        padding-top: 0;
        padding-bottom: 0;
    }
    .curriculum-row .col-lg-10{
        width: 100%;
    }
    .right-circles2:after {
        top: auto;
        bottom: -100px;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    .v-gap{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .bod-section .obd-list-item>.column>.bod-row .inner{
        max-width: 630px;
    }
    .bod-section .obd-list-item>.column>.bod-row:before {
       
        width: 450px;
        height: 450px;
    }
    .bod-section .obd-list-item>.column>.bod-row:nth-child(odd):before{
        left: -410px;
    }
    .bod-section .obd-list-item>.column>.bod-row:nth-child(even):before{
        right: -410px;
    }
    .bod-section .obd-list-item>.column>.bod-row .inner>.thumb .img-box {
        width: 250px;
        height: 250px;
    }
    .row1:before{
        width: 450px;
        height: 450px;
        right: -410px;
    }


    .tm-tabs .nav-tabs .nav-link .tm-box .img-box{
        width: 100px;
        height: 100px;
        padding: 6px;
        
    }
    .tm-tabs .nav-tabs .nav-link .tm-box .bottom h4{
        font-size: 14px;
    }
    .tm-tabs+.tab-content .tab-pane{
        padding: 20px;
    }
    .report-img:before {
        width: 200px;
        height: 200px;
    }
    .table3 table{
        width: 1000px;
    }
    .person-box{
        margin: auto;
    }
    .rounded-img2{
        margin: auto;
    }
    .right-circles1:before {
        top: -680px;
        right: -170px;
    }
    .rounded-img2{
        display: block;
    }
    .fs-rounded-img{
        display: block;
    }
    .circleimg{
        margin: auto;
    }
    .steps-section:before{
        display: none;
    }

    .video-tour-section .over-content{
        width: 720px;
    }
}


@media(max-width:767px){
    .event-box .img-box a img {
        height: auto;
    }
    
    .banner .video-content, .banner .img-content {
        height: 100%;
    }
    .tgtab span select{
        font-size: 14px;
    }
    .class-box{
        width: 350px;
        margin: auto;
    }
    
    .class-box .img-box{
        width: 350px;
        height: 350px;
    }
    .cms h4{
        font-size: 18px;
    }
    .adds-box .icon{
        width: 140px;
        height: 140px;
    }
    .rb{
        padding: 15px;
        border-radius: 10px;
    }
    .banner .item,
    .banner{
        height: 70vh;
    }
    .banner-over .h1,
    .banner-over h1{
        font-size: 28px;
    }
    body.body h2, body.body .h2{
        font-size: 22px;
    }
    .right-circles1:after {
        width: 522px;
        height: 522px;
        right: -80px;
    }
    .figure1 span {
        width: 70px;
        top: 70px;
    }
    .banner-over{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    
    .figure2 span{
        width: 70px;
    }
    .spf-section:after, .our-story-section:after{
        width: 522px;
        height: 522px;
        left: -80px;
        bottom:-270px;

    }
    .per-boxes{
        flex-wrap: wrap;
        
    }
    .per-boxes li:first-child{
        margin-right: 0;
        margin-bottom: -30px;
    }
    .cls-carousel .item .content{
        bottom: 20px;
    }
    .cls-carousel .item .content h2 {
        font-size: 18px;
        line-height: 22px!important;
    }
    .cls-carousel .item .content p {
        height: 50px;
        overflow-y: auto;
    }
    .cls-carousel .owl-dots{
        bottom: 30px;
    }
    .cls-tabs.nav-tabs{
        justify-content: center;
        .nav-item{
            margin: 10px;
        }
    }

    .f-btns{
        .f-btn{
            &:first-child{
                margin-bottom: 15px;
            }
        }
    }
    .social-media ul li{
        padding-left: 10px;
        padding-right: 10px;
    }
    .bootom-footer{
        justify-content: center;
        flex-wrap: wrap;
    }
    .bootom-footer .left{
        margin-bottom: 10px;
    }
    .f-btn {
        width: 190px;
        padding: 10px 30px;
    }
    .social-media ul li a{
        font-size: 14px;
    }
    .figure3 span {
        width: 70px;
        left: 0px;
    }
    .submit-btn {
        padding: 7px 30px;

    }
    .inner-banner{
        height: 300px;
        
    }

    .ourStoryModal .modal-dialog .modal-content .modal-body {
        padding: 50px 15px 15px 15px;

    }
    .mvc-tabs.nav-tabs{
        width: 360px;
}
    .mvc-tabs.nav-tabs .nav-item .nav-link{
        width: 120px;
        padding: 10px 15px;
    }
    .figure6{
        width: 360px;
        height: 360px;
    }
    .bog .owl-carousel .owl-nav button.owl-prev{
        left: 0;
    }
    .bog .owl-carousel .owl-nav button.owl-next{
        right: 0;
    }

    .right-circles2:after {
        width: 522px;
        height: 522px;
        right: -80px;
    }
    .v-gap{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .meet-our-team-section{
        padding-top: 30px;
    }
    .intro-section:before{
        width: 300px;
        height: 300px;
        right: -210px;
    }
    .bod-section .obd-list-item>.column>.bod-row .inner{
        display: block;
    }
    .bod-section .obd-list-item>.column>.bod-row .text .comment{
        padding-left: 30px;
    }
    .bod-section .obd-list-item>.column>.bod-row .inner>.thumb{
        padding-left: 30px;
    }
    .bod-section .obd-list-item>.column>.bod-row .inner>.icon {
        position: absolute;
        height: 100%;
        top: 0;
    }
    .bod-section .obd-list-item>.column>.bod-row .inner>.thumb{
        margin-bottom: 0;
    }
    .bod-section:before {
        width: 430px;
        height: 430px;
        top: -380px;
    }
    .tm-tabs+.tab-content .tab-pane{
        padding: 15px;
    }
    .tm-tabs .nav-tabs{
        justify-content: center;
        flex-direction: column;
    }
    .tm-tabs .nav-tabs .nav-link.active .bottom:before, .tm-tabs .nav-tabs .nav-link.active .bottom:after{
        display: none;
    }
    
    
    .circleimg {
        width: 330px;
        height: 330px;
    }
    
    .mot-section:before {
        width: 430px;
        height: 430px;
        top: -380px;
    }
    .otm-box .bottom h4{
        font-size: 14px!important;
    }

    .otm-box .bottom p {
        font-size: 12px;
        line-height: 18px;
    }
    .addvid{
        margin-top: 30px;
    }
    .admission2-section{
        margin-top: 0;
    }
    .left-circle2:after {
        bottom: -60px;
        width: 512px;
        height: 512px;
    }
    .figure10{
        right: 0;
    }
    .tgtab span:before{
        height: 48px;
    }

    .tr-list li{
        flex:0 0 50%;
        width: 50%;
        border: 0;
        margin-bottom: 20px;
    }
    .rounded-img2{
        width: 350px;
        height: 350px;
    }

    .list2 li{
        font-size: 16px;
    }
    .gcselist li, .level-result-list li{
        font-size: 20px;
    }
    .figure10{
        top: 0;
    }
    .domain-box{
        padding: 20px;
    }

    .fs-event .owl-nav{
        top: 40%;
    }
    .fs-event .owl-carousel .owl-nav button.owl-prev{
        left: 10px;
    }
    .fs-event .owl-carousel .owl-nav button.owl-next{
        right: 10px;
    }
    .inner-banner .banner-caption h1{
        font-size: 18px;
    }
    .breadcrumb_menu span{
        font-size: 12px;
    }
    .fs-video .play{
        width: 44px;
        height: 44px;
    }
    .fs-video:hover .play{
        width: 54px;
        height: 54px;
    }
    .fs-video{
       margin-bottom: 30px;
    }
    .left-img1{
        display: none;
    }
    .video-tour-section .over-content{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .next-video-thumb{
        width: 150px;
    }

}

@media(max-width:568px){
    .right-circles1:after {
        width: 402px;
        height: 402px;
        right:-50px;
        bottom: -160px;
    }
    .rb1{
        max-width: 100px;
        bottom: -20px;
    }
    .fs-rounded-img{
        width: 354px;
        height: 354px;
    }
    .mvc-tabs.nav-tabs .nav-item .nav-link{
        font-size: 12px;
    }
    .button {
        padding: 7px 24px;
    }
    .f-btn {
        width: 190px;
        padding: 7px 20px;
    }
    .figure9{
        img{
            max-width: 140%;
        }
    }
    .left-img1 {
        position: relative;
        transform: unset;
        left: -150px;
    }
    .circleImg2 {
        width: 310px;
        height: 310px;
        margin: auto;
    }
    .result-grade-box .right{
        flex:0 0 100%;
        width: 100%;
    }
    .result-grade-box .left, .result-grade-box .right{
        padding: 20px;
    }
    .right-circles1:before {
        right: -340px;
    }
    .row1:before{
        display: none;
    }

}






